/* Allgemeine Stile */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#mobile-container,
#desktop-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Mobile spezifische Stile */
#mobileCanvas {
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
}

#controls {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input[type="color"] {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

/* Desktop spezifische Stile */
#mainCanvas {
    width: 80vw;
    height: 80vh;
}
